<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><%=link_to "Play", play_path %></li>
    
  <% if current_user %>
      <li class="nav-item"><%= link_to "Fake-A-Tweet", faker_path(current_user.id)%></li>
      <li class="nav-item"><%= link_to "Account", edit_faker_path(current_user.id) %></li>
      <li class="nav-item"><%= link_to "Logout", :logout, method: :post %></li>
  <% else %>
      <li class="nav-item"><%= link_to "Register", new_faker_path %></li>
      <li class="nav-item"><%= link_to "Login", :login %></li>
  </ul>
  <% end %>
 
</nav>

<div>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>