<!DOCTYPE html>
<html lang='en'>
<html>
  <head>
    <title>Untrumplievable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <!--Banner-->
    <header class="container">
      <%= render 'layouts/header' %>
    </header>

    <!--Navbar-->
    <div class="container">
        <%= render 'layouts/navbar' %>
    <div> 

    <!--dynamically rendered rails content-->
    <div class="container">
      <%= yield %>
    </div>

    <!--footer-->
    <footer class="container">
      <%= render 'layouts/footer'%>
    </footer>

  </body>
</html>
